.form {
  display: flex;
  align-items: center;
  .formBtn {
    margin-left: 10px;
  }
  .decrement,
  .increment {
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    &:hover {
      background: #383838;
    }
  }
  .decrement {
    background: gray;
    margin-right: 7px;
  }
  .increment {
    background: green;
    margin-left: 10px;
  }
}